  .ai {
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    height: 80vh;
    color: aliceblue;
    /* margin-top: 50px; */

  }
     .main::-webkit-scrollbar {
      display: none;
    } 
.ai img{
  width: 40px;
  height: 40px;
}
  pre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    color: rgb(5, 5, 235);
    line-height: 2px;
    white-space: pre-line;
  }